name: CI

on: [push]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - name: Azure Login
      uses: Azure/login@v1
      with:
        # Paste output of `az ad sp create-for-rbac` as value of secret variable: AZURE_CREDENTIALS
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: test
      run: |
        az account show
      
